<% if product.errors.any? %>
  <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
    <h2><%= pluralize(product.errors.count, "error") %> :</h2>
    <ul>
      <% product.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"> <%= product.name %> </strong>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Brand: <%= product.brand %> </strong>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price: <%= "$#{product.origin_price }" %> </strong>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Images:</strong>
    <% product.images.each do |image_url| %>
      <img src="<%= image_url %>" alt="Product image" class="mb-2">
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= product.description %>
  </p>

  <% if product.amazon_link.present? %>
    <p class="my-5">
      <%= link_to 'View on Amazon', product.amazon_link, target: '_blank', rel: 'noopener noreferrer' %>
    </p>
  <% end %>

  <% if action_name != "show" %>
    <% if product.id.present? %>
      <%= link_to "Show this product", product, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Edit this product", edit_product_path(product), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <% else %>
      <% if product.asin.present? %>
        <%= link_to "Save this product", save_amazon_data_products_path(asin: product.asin), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <% end %>
    <% end %>
    <hr class="mt-6">
  <% end %>
</div>
