<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"> <%= product.name %> </strong>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Brand: <%= product.brand %> </strong>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price: <%= "$#{product.origin_price }" %> </strong>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Images:</strong>
    <% product.images.each do |image_url| %>
      <img src="<%= image_url %>" alt="Product image" class="mb-2">
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= product.description %>
  </p>

  <p class="my-5">
    <%= link_to 'View on Amazon', product.amazon_link, target: '_blank', rel: 'noopener noreferrer' %>
  </p>

  <% if action_name != "show" %>

    <% if product.id.present? %>
        <%= link_to "Show this product", product, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <%= link_to "Edit this product", edit_product_path(product), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <% else %>
    <% end %>
    <hr class="mt-6">
  <% end %>
</div>
